<aside class="sidebar">
    <nav class="sidebar__nav">
        <a routerLink="/busqueda" routerLinkActive="sidebar__item--active" class="sidebar__item">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>

        <a routerLink="/dashboard" routerLinkActive="sidebar__item--active" class="sidebar__item">
            <i class="fa-solid fa-clock-rotate-left"></i>
        </a>

        <a routerLink="/red/1" routerLinkActive="sidebar__item--active" class="sidebar__item">
            <i class="fa-regular fa-bookmark"></i>
        </a>
    </nav>
</aside>