<header class="graph-toolbar">
    <div class="graph-toolbar__title">
        <div class="graph-toolbar__icon">
            <i class="fa-solid fa-share-nodes"></i>
        </div>

        <div>
            <div class="graph-toolbar__breadcrumb">
                <a routerLink="/busqueda">Búsqueda</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a [routerLink]="['/perfil-consolidado', personId]">Perfil consolidado</a>
                <i class="fa-solid fa-chevron-right"></i>
                <span>Grafo</span>
            </div>

            <h1>{{ profileName }}</h1>
            <p>{{ curp }}</p>
        </div>
    </div>

    <div class="graph-toolbar__filters">
        <button type="button" [class.is-active]="activeFilter === 'all'" (click)="filterSelected.emit('all')">
            Todo
        </button>

        <button type="button" [class.is-active]="activeFilter === 'person'" (click)="filterSelected.emit('person')">
            Personas
        </button>

        <button type="button" [class.is-active]="activeFilter === 'vehicle'" (click)="filterSelected.emit('vehicle')">
            Vehículos
        </button>

        <button type="button" [class.is-active]="activeFilter === 'weapon'" (click)="filterSelected.emit('weapon')">
            Armas
        </button>
    </div>

    <div class="graph-toolbar__stats">
        <article>
            <strong>{{ totalNodes }}</strong>
            <span>Nodos</span>
        </article>

        <article>
            <strong>{{ totalLinks }}</strong>
            <span>Vínculos</span>
        </article>
    </div>
</header>